aiohttp==1.0.5
async-timeout==3.0.1
certifi==2018.11.29
chardet==3.0.4
discord.py==0.16.12
idna==2.8
multidict==4.5.2
praw==6.1.0
prawcore==1.0.0
requests==2.21.0
six==1.12.0
update-checker==0.16
urllib3==1.26.5
websocket-client==0.54.0
websockets==3.4
